@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lora:wght@400;700&family=Montserrat:wght@300&family=Outfit:wght@300;400;600&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-bg: #FFFFFF;
  --color-primary: #0A1930;
  --color-text: #0A0D14;
  --color-gold: #c0a969;

  --font-outfit: "Outfit", sans-serif;
  --font-lora: "Lora", serif;
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  --radius-none: 0px;
  --radius-xs: 0.125rem;
  --radius-default: 0.375rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 1.875rem;
  --radius-full: 9999px;
  --color-button-ripple-color: var(--button-ripple-color);
}

:root {
  --button-ripple-color: oklch(0.145 0 0 / 0.3);
}

.dark {
  --button-ripple-color: oklch(0.985 0 0 / 0.5);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border: 2px solid var(--color-bg);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gold);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.gold-divider {
  height: 1px;
  background: linear-gradient(90deg, transparent, rgba(184, 197, 214, 0.3) 50%, transparent);
}

.transform-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}